@{ViewData["Title"] = "Оплата штрафа";}
<style>
    .card {
        width: 300px;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
<body>
    <div class="container mt-6"> 
        <div class="row justify-content-center"> 
            <div class="col-12 col-md-6"> 
                <div class="card"> 
                    <div class="card-body"> 
                        <form mehthod="post" asp-action="Delete" asp-controller="Violation" asp-route-id="@ViewData["CarId"]"> 
                            <div class="form-group"> 
                                <label for="cardNumber">Номер карты</label> 
                                <input type="text" class="form-control" name="card-number" placeholder="Введите номер карты"> 
                            </div> 
                            <div class="form-row"> 
                                <div class="form-group col"> 
                                    <label for="expiryDate">Срок действия</label> 
                                    <input type="text" class="form-control" name="card-date" placeholder="ММ/ГГ">
                                </div> 
                                <div class="form-group col"> 
                                    <label for="cvv">CVV</label> 
                                    <input type="text" class="form-control" name="card-code" placeholder="CVV">
                                </div> 
                            </div>
                            <div class="form-group"> 
                                <label for="cardHolder">Имя владельца</label> 
                                <input type="text" class="form-control" name="card-holder" placeholder="Введите имя владельца">
                            </div> 
                            <button type="submit" class="btn btn-primary btn-block">Оплатить</button> 
                        </form>
                    </div>
                    <a class="btn btn-outline-secondary" asp-controller="ShowAll" asp-action="Violations">Вернуться назад</a>
                </div> 
            </div> 
        </div> 
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
    $("input[name=card-number]").mask('9999 9999 9999 9999');
    $("input[name=card-date]").mask('99/99');
    $("input[name=card-code]").mask('999');
</script>