<div class="container-fluid">
<div class="row d-flex justify-content-center">
    <div class="col-sm-12">
        <div class="card mx-auto">
            <p class="heading">Реквизиты банковской карты</p>
            <form asp-action="PayFine" asp-controller="Violation" method="post" class="card-details ">
                <div class="form-group mb-0">
                    <p class="text-warning mb-0">Номер карты</p>
                        <input type="text" name="card-number" class="form-control" placeholder="1234 5678 9012 3457" size="17" id="cno" minlength="19" maxlength="19">
                    <img src="https://img.icons8.com/color/48/000000/visa.png" width="64px" height="60px" />
                </div>

                <div class="form-group">
                    <p class="text-warning mb-0">Имя держателя карты</p> <input type="text" name="name" placeholder="Name" size="17">
                </div>
                <div class="form-group pt-2">
                    <div class="row d-flex">
                        <div class="col-sm-4">
                            <p class="text-warning mb-0">Срок действия карты</p>
                                <input type="text" name="card-date" class="form-control" placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7">
                        </div>
                        <div class="col-sm-3">
                            <p class="text-warning mb-0">CVV</p>
                                <input type="password" name="card-code" class="form-control" placeholder="&#9679;&#9679;&#9679;" size="1" id="cvv" minlength="3" maxlength="3">
                        </div>
                        <div class="col-sm-5 pt-0">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-arrow-right px-3 py-2"></i>Оплатить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
    $("input[name=card-number]").mask('9999 9999 9999 9999');
    $("input[name=card-date]").mask('99/99');
    $("input[name=card-code]").mask('999');
</script>