@using ViolationWebApplication.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center d-flex flex-column align-items-center justify-content-center" style="min-height: 75vh;">
    <h1 class="display-4">Учет нарушений ПДД</h1>
    <div class="mt-3">

        @if ((await UserManager.GetRolesAsync(user)).Contains("admin"))
        {
            <a class="btn btn-outline-secondary" asp-action="Add" asp-controller="Violation">Добавить нарушение</a>
            <a class="btn btn-outline-secondary" asp-action="Add" asp-controller="Car">Добавить автомобиль</a>
            <a class="btn btn-outline-secondary" asp-action="AddAdmin" asp-controller="Account">Добавить админа</a>
        }
        <a class="btn btn-outline-secondary" asp-action="ShowAll" asp-controller="Violation">Посмотреть нарушения</a>
        <a class="btn btn-outline-secondary" asp-action="ShowAll" asp-controller="Car">Посмотреть автомобили</a>

    </div>
</div>

